/*Base styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-font-size: 1.6rem;
    --body-font-color: #5f5f5f;
    --body-font-family: 'Open Sans', sans-serif;
    --heading-font-family: 'Playfair Display', sans-serif;
    --light-color: #f4f4f4;
    --dark-color: #262626;
    --light-gray-color: #f2f3f7;
    --orange-color: #ec5453;
    --blue-color: #2c98f0;
    --yellow-color: #f9bf3f;
    --purple-color: #a84cb8;
    --dark-blue-color: #4054b2;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--body-font-family);
    color: var(--body-font-color);
    font-size: var(--body-font-size);
}

a {
    display: block;
    text-decoration: none;
}

/* NAVIGATION */
.hamburger-menu {
    display: none;
}

.nav {
    width: 26rem;
    height: 100vh;
    background-color: var(--dark-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.intro {
    font-family: var(--heading-font-family);
    text-align: center;
    margin: 5rem 0;
    line-height: 1.5;
}
.intro-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.intro-subheading {
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.nav-list {
    list-style-type: none;
}
.nav-item {
    position: relative;
}
.nav-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s cubic-bezier(.83, 0, 0.17, 1);    
}
.nav-item:hover::before {
    transform: scaleX(1);
}
.nav-item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.nav-link {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--light-color);
    padding: 1rem;
}

.social-media-wrapper {
    margin-top: auto;
    margin-bottom: 3rem;
    text-align: center;
}
.social-media-wrapper span {
    display: block;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1rem;
}
.social-media {
    display: flex;
    justify-content: center;
}
.sm-link {
    font-size: 3.6rem;
    color: var(--light-color);
    transition: color 0.5s, transform 0.5s;
}
.sm-link:hover {
    color: #999;
    transform: translateY(-3px);
}
.sm-link:nth-child(2) {
    margin: 0 2rem;
}

.copyright-notice {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    color: rgba(255, 255, 255, .5);
}
